@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --whitesmoke: whitesmoke;
}

body {
  font-family: Roboto;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.navigation {
  background-color: white;
  top: 0;
  right: 0;
  position: fixed;
  width: 100%;
  height: 70px;
  z-index: 99;
}

.navigation__container {
  display: flex;
  height: 100%;
}

.navigation__title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin-right: auto;
  width: 100px;
}

.navigation__link {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: bold;
  margin: 0 1em 0 0;
}

.navigation__link:hover {
  color: red;
}

.hero {
  background: url('images/hero.jpg');
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 500px;
  width: 100%;
  padding: 10px;
}

.hero__title {
  color: white;
  font-size: 3rem;
  font-weight: bold;
}

.hero__description {
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.hero__title--hidden {
  display: none;
}

@media (max-width: 768px) {
  .navigation__link {
    display: none;
  }
}